* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.page {
    background-color: #ECF7F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header,
article,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #3A606E;
}

footer p {
    color: #EEF0F2;
    font-size: 12px;
}

footer a {
    color: #EEF0F2;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    background-color: #3A606E;
    color: #EEF0F2;
    padding: 30px 0;
}

h2 {
    font-size: 35px;
    color: #353B3C;
    padding-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #353B3C;
    padding: 10px 0;
}

nav {
    width: 100%;
    background-color: #607B7D;
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: #846A6A;
}

nav a {
    color: #EEF0F2;
}

nav ul {
    font-size: 25px;
    color: #fbfada;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav li {
    padding: 10px;
}

article,
form {
    background-color: #FAFEFF;
    padding: 60px 40px;
    margin: 50px 60px;
    border: 1px solid #353B3C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

article figure {
    margin: 0 auto;
}

article figcaption {
    text-align: center;
    font-size: 10px;
}

.image {
    width: 220px;
}

.form-row {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.legacy-form-row {
    margin-bottom: 25px;
    border: none;
}

.form-row input[type='text'],
.form-row input[type='email'] {
    background-color: #ffffff;
    border: 1px solid #607B7D;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}

.form-row textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;

    border: 1px solid #607B7D;
    border-radius: 5px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 15px;
    resize: none;
}

.form-row .instructions {
    font-size: 14px;
    margin-bottom: 30px;
}

.legacy-form-row legend {
    margin-bottom: 15px;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
    float: left;
}

.form-row select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #3A606E;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .page {
        margin: 0 auto;
    }

    .content {
        width: 900px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    article {
        display: block;
    }

    article figure {
        float: right;
        padding: 5px 0 0 15px;
    }

    .form-row,
    .legacy-form-row {
        display: flex;
        flex-direction: row;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }
    .speaker-form-header,
    .speaker-form {
        width: 600px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .legacy-form-row {
        margin-bottom: 10px;
    }

    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
    }

    .legacy-form-row legend{
        float: left;
    }

    .form-row .instructions {
        margin-left: 120px;
    }

    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
    }

    .form-row button {
        margin-left: 120px;
    }
}